<header role="banner" class="container-fluid app__header">
    <div class="row">
        <div class="col-md-3 col-lg-2 app__header__brand">
            <!-- Brand -->
            <a href="{{ path('KunstmaanAdminBundle_homepage') }}" class="link--block app__header__brand__link">
                {{ websitetitle | trans }}
            </a>
        </div>

        <!-- Navigation -->
        <div class="js-navigation-space-hook col-md-9 col-lg-10 col--no-gutter navigation-container">
            <nav role="navigation" class="js-navigation navigation navigation--big">

                <!-- Navigation - Mobile toggle -->
                <div class="js-navigation__toggle navigation__toggle navigation__toggle--top">
                    Menu
                    <i class="fa fa--bars navigation__toggle__open-icon"></i>
                    <i class="fa fa--times navigation__toggle__close-icon"></i>
                </div>

                <!-- Navigation - Level -->
                <ul class="js-main-navigation-level navigation__level">
                    {% for menuitem in adminmenu.topchildren %}
                    {% set topchildren = menuitem.topchildren %}
                    {% if topchildren | length > 0 %}
                        <!-- Navigation - Item with sub-items -->
                        <li class="navigation__item {% if menuitem.active %}navigation__item--active{% endif %}">
                            <a href="#" class="navigation__link">
                                {{ menuitem.internalname | trans }}
                            </a>

                            <!-- Navigation - Sublevel toggle -->
                            <div class="js-navigation__toggle navigation__toggle navigation__toggle--sublevel">
                                <i class="fa fa--chevron-down navigation__toggle__sublevel-open-icon"></i>
                                <i class="fa fa--chevron-up navigation__toggle__sublevel-close-icon"></i>
                            </div>

                            <ul class="navigation__level navigation__level--sublevel">
                                {% for topchild in topchildren %}
                                <li class="navigation__item navigation__item--sublevel {% if topchild.active %}navigation__item--active{% endif %}">
                                    <a href="{{ path(topchild.route, topchild.routeparams) }}" class="navigation__link navigation__link--sublevel">
                                        {{ topchild.internalname | trans }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <!-- Navigation - Item without sub-items -->
                        <li class="navigation__item {% if menuitem.active %}navigation__item--active{% endif %}">
                            <a href="{{ path(menuitem.route, menuitem.routeparams) }}" class="navigation__link">
                                {{ menuitem.internalname | trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% endfor %}

                    <!-- Navigation - Items right -->
                    {% set route = app.request.attributes.get('_route') %}
                    {% set attribs = app.request.attributes.all %}
                    {#{{ localeswitcher_widget(requiredlocales, route) }}#}
                    <li class="navigation__item navigation__item--right">
                        <a href="{{ path('fos_user_security_logout') }}" class="navigation__link">
                            <i class="fa fa--sign-out"></i>
                        </a>
                    </li>
                    <li class="navigation__item navigation__item--right">
                        <a href="{{ path('KunstmaanAdminBundle_user_change_password', { 'id':app.user.id }) }}" class="navigation__link">
                            {{ 'layout.logged_in_as'|trans({'%username%':app.user.username}, 'FOSUserBundle') }}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
