<!-- Search -->
<div class="input-group">
    <input type="text" id="searchVal" class="form-control" placeholder="Search">
    <span class="input-group-btn">
        <button type="button" id="search" class="btn btn-default">
            <i class="fa fa--big fa--search"></i>
        </button>
    </span>
</div>

<hr>

<!-- Tree -->
{% set currentMenuItem = adminmenu.current %}
<nav role="navigation" class="navigation navigation--small navigation--app__sidebar">
    <ul class="js-main-navigation-level navigation__level">
        {% if lowestTopChild.appearInSidebar %}
            <li class="navigation__item {% if lowestTopChild.internalname == currentMenuItem.internalname %}active{% endif %}" {% if lowestTopChild.role %} rel="{{lowestTopChild.role}}" {% endif %}>
                <a href="{{ path(lowestTopChild.route, lowestTopChild.routeparams) }}" class="navigation__link">
                    {{ lowestTopChild.internalname | trans }}
                </a>
                <button class="js-navigation__toggle btn--reset navigation__toggle navigation__toggle--sublevel">
                    <i class="fa fa--chevron-down navigation__toggle__sublevel-open-icon"></i>
                    <i class="fa fa--chevron-up navigation__toggle__sublevel-close-icon"></i>
                </button>
                <ul class="navigation__level navigation__level--sublevel">
        {% endif %}
        {% for menuitem in navigationChildren %}
            {% include 'KunstmaanAdminBundle:Default:rectreeview.html.twig' %}
        {% endfor %}
        {% if lowestTopChild.appearInSidebar %}
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>

{# OLD
<div class="tree clearfix">
    {% set currentMenuItem = adminmenu.current %}
        <ul>
        {% if lowestTopChild.appearInSidebar %}
            <li class="jstree-open {% if lowestTopChild.internalname == currentMenuItem.internalname %}active{% endif %}" {% if lowestTopChild.role %} rel="{{lowestTopChild.role}}" {% endif %}>
                <a href="{{ path(lowestTopChild.route, lowestTopChild.routeparams) }}">{{ lowestTopChild.internalname | trans }}</a>
                <ul>
        {% endif %}
        {% for menuitem in navigationChildren %}
            {% include 'KunstmaanAdminBundle:Default:rectreeview.html.twig' %}
        {% endfor %}
        {% if lowestTopChild.appearInSidebar %}
                </ul>
            </li>
        {% endif %}
    </ul>
</div>
#}
